.bogy {
    color: whitesmoke;
    background-image: url(galaxie.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#Persos {
    opacity: 0.8;
    font-size: 1.5em;
    margin: auto;
    margin-top: 10%;
}

#hobbit {
    font-size: 1.5em;
    margin-top: 10%;
    margin-left: 4%;
    margin-right: 6%;
    margin-bottom: 1%;
    opacity: 0.9;
    z-index: 1;
}

.Titre-Hobbi {
    text-align: center;
}

#cv {
    opacity: 0.8;
    font-size: 1.5em;
    margin-top: -1.5%;
}

#Identiter {

    opacity: 0.8;
    font-size: 1.5em;
    margin-bottom: -0.30%;
    text-align: left;
}

.Bondéroulement {}